* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.url-preview-container {
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  
}
/* 
.url-preview-container > input {
  margin-top: 10px;
} */

.url-preview {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 6px;
  background-color: gainsboro;
  border-radius: 5px 5px 0px 0px;
}

.url-preview > img {
  width: 60px;
  height: 60px;
}

.url-preview > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;

}

.link {
  text-decoration: none; 
  color:gray;
  font-size: x-small;
}

.og-title {
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.og-description {
  font-weight: lighter;
  font-size: smaller;
  margin-top: 4px;
}

input {
  padding:10px;
}